<?xml version="1.0"?>
<configuration>
  <LogInfo>true</LogInfo>
  <LogError>true</LogError>

  <!-- NDM2VIDEO -->
  <!-- full path to nfk.exe -->
  <GameExeFile>D:\Games\NFK\nfk077a.upd.exe</GameExeFile>
  <!-- autoexec commands for tuning view -->
  <Autoexec>
drawtime 1
drawfps 0
shownick 1
r_fx_plasma 1
railtrailtime 40
r_railwidth 6
r_massacre 1
menucolor 7
ch_hudvisible 0
ch_showfollowinglabel 0
ch_qwscoreboard 1
messagetime 100
volume 10
  </Autoexec>

  <!-- additional seconds that will be added to game duration (5 seconds before game and 5 after?)
       It shoud be greater (4 seconds for example for ffmpeg, because there may be some lags when recording)-->
  <ExtraTime>10</ExtraTime>

  <VideoWidth>854</VideoWidth>
  <VideoHeight>480</VideoHeight>
  <VideoFps>30</VideoFps>
  <VideoBitrate>60000000</VideoBitrate>
  <VideoPaddingTop>26</VideoPaddingTop>
  <VideoPaddingLeft>3</VideoPaddingLeft>

  <!-- game process settings -->
  <!-- hex value http://bit.ly/ZWkGpM -->
  <!-- "8" = core: 4 -->
  <ProcessorAffinity>8</ProcessorAffinity>
  <!-- 0=Idle, 1=BelowNormal, 2=Normal, 3=AboveNormal, 4=High, 5=RealTime -->
  <ProcessorPriority>3</ProcessorPriority>
  <!-- if game process is hang up then wait for X seconds and stop all work and exit (works only if ExternalVideoCapture = false) -->
  <GameProcessTimeout>15</GameProcessTimeout>
  <!-- keep game window on top -->
  <AlwaysOnTop>true</AlwaysOnTop>

  <!-- file extension for a video result file  -->
  <VideoOutputExtension>avi</VideoOutputExtension>

  <!-- use external program to record video+audio directly into a single video file? 
  if no then slow built-in game mechanism will be used that captures each frame into 25 image files (without audio) -->
  <ExternalVideoCapture>true</ExternalVideoCapture>

  <ExternalToolRoundTrip>
    <Round>
      <FileName>ffmpeg.exe</FileName>
      <Args>-y -f dshow -i audio="Line 1 (Virtual Audio Cable)" -itsoffset 0.6 -f gdigrab -draw_mouse 0 -framerate 30 -i title="Need For Kill" -threads 1 -codec:v huffyuv -acodec pcm_s16le -y "{outfile}"</Args>
      <!-- "4" = core: 3 -->
      <ProcessorAffinity>4</ProcessorAffinity>
      <ProcessorPriority>1</ProcessorPriority>
    </Round>
    <Round>
      <FileName>ffmpeg.exe</FileName>
      <Args>-i "{infile}" -vcodec mpeg4 -qscale 1 -threads 1 -ab 128k -filter:v fade=in:0:7 -y "{outfile}"</Args>
      <!-- "C" = cores: 3,4 -->
      <ProcessorAffinity>C</ProcessorAffinity>
      <ProcessorPriority>1</ProcessorPriority>
    </Round>
    <Round>
      <FileName>ffmpeg.exe</FileName>
      <Args>-f concat -i concat.txt -threads 1 -c copy "{outfile}"</Args>
      <!-- "C" = cores: 3,4 -->
      <ProcessorAffinity>C</ProcessorAffinity>
      <ProcessorPriority>1</ProcessorPriority>
    </Round>
  </ExternalToolRoundTrip>

  <!-- show score board inside a game? -->
  <ShowScoreBoard>true</ShowScoreBoard>
  <!-- frequency for show scoreboard inside a game (in seconds) -->
  <ScoreboardInterval>60</ScoreboardInterval>
  <!-- how long a scoreboard should be shown (in seconds -->
  <ScoreboardDuration>3.5</ScoreboardDuration>

  
  <!-- NDMSCHEDULER -->
  <!-- where to save videos, demos and temp files -->
  <Ndm2VideoFile>ndm2video.exe</Ndm2VideoFile>
  <TempDir>tempdir</TempDir>

  <!-- needforkill.ru API -->
  <AppId>x</AppId>
  <ApiKey>CHANGE</ApiKey>
  <GetDemoUrl>http://nfk.pro2d.ru/api.php?action=getdemo&amp;apikey={apikey}&amp;appid={appid}</GetDemoUrl>
  <SetVideoUrl>http://nfk.pro2d.ru/api.php?action=setvideo&amp;apikey={apikey}&amp;appid={appid}&amp;demoid={demoid}</SetVideoUrl>


  <!-- NDMUPLOADER -->
  <!-- youtube video details -->
  <VideoTitle>#{demoid} {nickname}{vsnickname} ({gametype}, {mapname})</VideoTitle>
  <VideoDescription>
    Match URL: http://nfk.pro2d.ru/match/{demoid}
    Players: {playerlist}

    Download Demo: {demourl}

    The game was recorded at: {date}
  </VideoDescription>
  <VideoKeyWords>need for kill, nfk, action, arcade, shooter, dynamic, massacre</VideoKeyWords>

  <!-- upload attemps if timeout -->
  <UploadMaxAttempts>5</UploadMaxAttempts>

  
  
  <!-- youtube.com credentials -->
  <YoutubeUserName>CHANGE</YoutubeUserName>
  <YoutubePassword>CHANGE</YoutubePassword>
  <YoutubeAppName>CHANGE</YoutubeAppName>
  <YoutubeDeveloperKey>CHANGE</YoutubeDeveloperKey>
  <!-- start program when video is uploaded (leave empty to disable) -->
  <YoutubeUploadCompleteExec>cmd /c "echo Match [{gametype}] ({playerlist}) was uploaded onto Youtube http://nfk.pro2d.ru/match/{demoid} > ..\IRCBot\bin\message.txt"</YoutubeUploadCompleteExec>
  
  <!-- mega.co.nz credentials -->
  <!-- upload demo to mega? if no source demo url will be in video description -->
  <MegaUpload>true</MegaUpload>
  <MegaUserName>CHANGE</MegaUserName>
  <MegaPassword>CHANGE</MegaPassword>

</configuration>